.tmp.driveupload
.tmp.drivedownload
MongoDB/myExpressApp/node_modules/*
MongoDB/node_modules/*
*/env/*
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/
.gitignore
Rice/Intro_to_DL/Assignments/Assignment_1/data/
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/data/
Rice/Probabilistic_DSA/Assignment 1/user-ct-test-collection-01.txt
Rice/Probabilistic_DSA/Assignment 2/user-ct-test-collection-01.txt
Rice/Probabilistic_DSA/Assignment 4/user-ct-test-collection-01.txt
Rice/Intro_to_DL/Assignments/Assignment_1/runs/
Rice/DLVV/SUN20/train/a/arch/sun_aerqfpclpmevnddo.jpg
Rice/DLVL/hw1/SUN20/
Rice/DLVL/hw2/SUN20/
Rice/DLVL/hw2/ShapesQA_trainset/
Rice/DLVL/hw2/ShapesQA_valset/
Rice/DLVL/hw2/synthetic_shapes_dataset/
