.tmp.driveupload
.tmp.drivedownload
MongoDB/myExpressApp/node_modules/*
MongoDB/node_modules/*
*/env/*
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_relu_adam_kaiming_20251007_094453.pt
.gitignore
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/t10k-images-idx3-ubyte
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/t10k-labels-idx1-ubyte
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/train-images-idx3-ubyte
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/train-images-idx3-ubyte.gz
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/train-labels-idx1-ubyte
Rice/Intro_to_DL/Assignments/Assignment_1/data/MNIST/raw/train-labels-idx1-ubyte.gz
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_relu_adam_kaiming_20251007_094610/events.out.tfevents.1759848370.MacBook-Air-668.local.60358.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_relu_adam_kaiming_20251007_094453/events.out.tfevents.1759848293.MacBook-Air-668.local.58958.0
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_relu_adam_kaiming_20251007_094610.pt
Rice/Probabilistic_DSA/Assignment 1/user-ct-test-collection-01.txt
Rice/Probabilistic_DSA/Assignment 2/user-ct-test-collection-01.txt
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_leaky_relu_rmsprop_kaiming_20251007_215710.pt
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_relu_adagrad_kaiming_20251007_220503.pt
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_relu_adam_kaiming_20251007_214903.pt
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_sigmoid_sgd_xavier_20251007_220112.pt
Rice/Intro_to_DL/Assignments/Assignment_1/checkpoints/best_MNIST_tanh_momentum_xavier_20251007_215307.pt
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/best_MNIST_leaky_relu_rmsprop_kaiming_20251007_215710.pt
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/best_MNIST_relu_adagrad_kaiming_20251007_220503.pt
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/best_MNIST_relu_adam_kaiming_20251007_214903.pt
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/best_MNIST_sigmoid_sgd_xavier_20251007_220112.pt
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/checkpoints/best_MNIST_tanh_momentum_xavier_20251007_215307.pt
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_leaky_relu_rmsprop_kaiming_20251007_215710/events.out.tfevents.1759892230.MacBook-Air-668.local.10656.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_relu_adagrad_kaiming_20251007_220503/events.out.tfevents.1759892703.MacBook-Air-668.local.11351.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_relu_adam_kaiming_20251007_214903/events.out.tfevents.1759891743.MacBook-Air-668.local.9479.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_relu_adam_kaiming_20251007_235559/events.out.tfevents.1759899359.MacBook-Air-668.local.18972.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_sigmoid_sgd_xavier_20251007_220112/events.out.tfevents.1759892472.MacBook-Air-668.local.11048.0
Rice/Intro_to_DL/Assignments/Assignment_1/runs/MNIST_tanh_momentum_xavier_20251007_215307/events.out.tfevents.1759891987.MacBook-Air-668.local.10025.0
Rice/Intro_to_DL/Assignments/Assignment_1/ds221-assignment1/data/
